<ion-content class="login-content" padding>
  <ion-row>
    <ion-col>
      <h1 class="logo">Login</h1>
      <ion-input placeholder="Login"
                 [value]="login" (input)="login = $event.target.value"></ion-input>
      <ion-input placeholder="Password" type="password" inputmode="password"
                 [value]="password" (input)="password = $event.target.value"></ion-input>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button class="log-in-button" color="primary" expand="block" (click)="doLogin()">
        LOG IN
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
