<ion-app>
  <ion-split-pane>
    <ion-menu menuId="main">
      <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false">
            <ion-item (click)="mainPage()">
              <ion-icon slot="start" name="happy"></ion-icon>
              <ion-label>
                Личная страница
              </ion-label>
            </ion-item>
            <ion-item (click)="dashboardPage()">
              <ion-icon slot="start" name="time"></ion-icon>
              <ion-label>
                Сегодня
              </ion-label>
            </ion-item>
            <ion-item (click)="pillsPage()">
              <ion-icon slot="start" name="medkit"></ion-icon>
              <ion-label>
                Мои лекарства
              </ion-label>
            </ion-item>
            <ion-item (click)="watchersPage()">
              <ion-icon slot="start" name="people"></ion-icon>
              <ion-label>
                Наблюдатели
              </ion-label>
            </ion-item>
            <ion-item (click)="watchingPage()">
              <ion-icon slot="start" name="people"></ion-icon>
              <ion-label>
                Наблюдение
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item (click)="logout()">
              <ion-icon slot="start" name="exit"></ion-icon>
              <ion-label>
                Exit
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
