<ion-header>
	<ion-toolbar>
  		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title color="primary">
			Сегодня
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-list inset="true" lines="none" style="box-shadow: 1px 1px 1px 1px grey;">
		<ion-item>
			<ion-label align="left">
				7 дней
			</ion-label>
			<ion-label align="right">
				Баланс 100р
			</ion-label>
		</ion-item>
	</ion-list>
		
	<ion-list inset="true" lines="none" *ngFor="let pill of pills" style="box-shadow: 1px 1px 1px 1px grey;">
		<ion-item align="right" *ngIf="pill.daysCovered<=2" color="secondary">
			<ion-note color="secondary">
				<h1>Вам нужно купить {{pill.medicineName}}. Его осталось на {{pill.daysCovered}} день</h1>
			</ion-note>

		</ion-item>
	</ion-list>
	
	<ion-list inset="true" lines="none" *ngFor="let todo of todoData" style="box-shadow: 1px 1px 1px 1px grey;">
	    <ion-list-header>
			{{todo.title}}
        </ion-list-header>
		<ion-item align="right">
			<ion-note slot="start" color="secondary">
				<h2>{{todo.time}}</h2>
			</ion-note>
			<ion-note slot="end" color="secondary">
				<h2>{{todo.description}}</h2>
			</ion-note>
		</ion-item>
	</ion-list>

</ion-content>
