<ion-header>
  <ion-toolbar>
    <ion-title>Мои лекарства</ion-title>
	<ion-buttons slot="end">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-list inset no-lines>
		<ion-item *ngFor="let pill of pills" (click)="toRecipe(pill)"> <b> Лекарство: </b> {{pill.id}} </ion-item>
	</ion-list>
	
	<ion-row>
		<ion-col>
			<ion-button color="primary" expand="block" (click)="toRecipe()">
        К рецепту
			</ion-button>
		</ion-col>
	</ion-row>

</ion-content>
