<ion-header>
	<ion-toolbar>
  		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title color="primary">Мои лекарства</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-list inset no-lines>
		<ion-item *ngFor="let pill of pills" (click)="toRecipe(pill)">{{pill.medicineName}} </ion-item>
	</ion-list>
	
	<ion-row>
		<ion-col>
			<ion-button color="primary" expand="block" (click)="addRecipe()">
        Добавить новый
			</ion-button>
		</ion-col>
	</ion-row>

</ion-content>
