<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title color="primary">
      Список подписок
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--<ion-list *ngIf="patients.length">-->
    <!--<ion-item *ngFor="let patient of patients" href="/users/{{patient.id}}">-->
      <ion-card style="--background: white; --color: black" *ngFor="let patient of patients">
          <ion-card-content *ngIf="patients.length">
      <ion-item>
      <!--<ion-icon [name]="item.icon" slot="start"></ion-icon>-->
          <ion-label>
              <h1>{{patient.login}}</h1>
              <ion-text color="primary">
                <h3>{{patient.firstName}} / {{patient.lastName}}</h3>
              </ion-text>
              <!--<p>Paragraph line 1</p>-->
              <!--<ion-text color="secondary">-->
                  <!--<p>Paragraph line 2 secondary</p>-->
              <!--</ion-text>-->
          </ion-label>
    </ion-item>
          </ion-card-content>

          <!--<ion-card-content *ngIf="!patients.length">-->
              <!--Нет подписок-->
          <!--</ion-card-content>-->
      </ion-card>
  <!--</ion-list>-->

  <ion-card *ngIf="!patients.length" style="--background: white; --color: black">
    <ion-card-content>
      Нет подписок
    </ion-card-content>
  </ion-card>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>