<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Список пациентов
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="patients.length">
    <!--<ion-item *ngFor="let patient of patients" href="/users/{{patient.id}}">-->
      <ion-item *ngFor="let patient of patients">
      <!--<ion-icon [name]="item.icon" slot="start"></ion-icon>-->
      {{patient.login}}
      <div class="item-note" slot="end">
        {{patient.firstName}} / {{patient.lastName}}
      </div>
    </ion-item>
  </ion-list>

  <ion-card *ngIf="!patients.length" style="--background: white; --color: black">
    <ion-card-content>
      Нет подписок
    </ion-card-content>
  </ion-card>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>